note - there are 2 cells that need adjusting depending on which set (small sample, or real set) is being used:
cell 73 & cell 376

ISSUES
 - if the video is unavailable, the scrape part of the algo returns a web address with just no track name. It needs to search again.

## import & wrangling

In [1]:
import pandas as pd
import numpy as np
import random
import time
from bs4 import BeautifulSoup as bs
import requests

In [65]:
path_to_file = "/Users/aidanairuser/Desktop/OPENWHYHD/openwhyhd_logs.csv"
sample = pd.read_csv(path_to_file)
print (sample.shape)
sample.sample(5)

(584927, 2)

        user          song
472088    47   NP57BsWO3RY
166836   155   FKIQ8BBcI6I
490674  1000   xuTDKlyXbQg
279987   285   fbzEOQLOAWw
231042   285   pguMUFyJ3_U

In [66]:
print ("nb of songs", sample.user.nunique())
print ("nb of users", sample.song.nunique())
print ("DATA TYPES")
print (sample.dtypes)

# there are 96 users in the sample set

nb of songs 1275
nb of users 80388
DATA TYPES
user     int64
song    object
dtype: object

## simplest rec: a top ten

In [105]:
top_ten = sample.song.value_counts().head(11)
hits = pd.DataFrame(top_ten)
hits

              song
 x1ea7Dh53lg  4226
 y3FGucaZk2Y  4219
 pguMUFyJ3_U  4204
 MwvITR0d93g  4193
 Y9GKNbNSpM8  4178
 g_XNPNYCUSU  4178
 cLbgNvjyS4I  4176
 B42HTy-gRVA  4172
 fbzEOQLOAWw  4171
 OmEyb87NlQo  4167
 ZgJ0GHXqAyI  4160

-- this is the top ten for the small sample set

scrape the details (see below):

少年時代　井上揚水
Green Velvet - I Want To Leave My Body
般若心経 托鉢 short ver  (heartsutra takuhatsu ver.) live act / 薬師寺寛邦(キッサコ)
般若心経 cho ver. (Heartsutra cho ver. ) live act / 薬師寺寛邦 キッサコ
BEACH HOUSE -- "LEMON GLOW"
Rejjie Snow - Egyptian Luvr (feat. Aminé & Dana Williams) (Official Audio)
The Spinners - I'll Be Around
** the 8th most listened to is now 'video unavailable
6LACK - Never Know
Best Music Mix 2017- Shuffle Music Video HD - Melbourne Bounce Music Mix 2017
Underground Lovers - Your Eyes

## function to pull video title from site

In [106]:

def find_toon(rem):
    
    top_ten_listens = []
    
    yt = "https://www.youtube.com/watch?v="
    url = yt.strip() + rem.strip()
    page = requests.get(url)
    soup = bs (page.text, 'html.parser')

    for item in soup.find_all('h1',{'class':'watch-title-container'}): 
        for post in item.find_all('span',{'class':'watch-title'}): 
            print (post.string.strip())
            print (url)
            
find_toon("PLACE_end_of_yt_address_here_please")

The Shadow of Your Smile - Perry Como Live
https://www.youtube.com/watch?v=x1ea7Dh53lg

## pivot and flatten the log

In [67]:
# flip sample to a multi-index / pivot table (aggfunc=len and aggfunc='count' both work as arguments)

freq = pd.pivot_table(sample,index=["song"],columns=["user"],values=["user"], aggfunc={"user":'count'})

freq.head(5)

             user                                              ...             \
user         0    1    2    3    4    5    6    7    8    9    ...  1265 1266
song                                                           ...
 --1W3Kq_pfk  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN ...   NaN  NaN
 --4Xde9r4Mw  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN ...   NaN  NaN
 --5UoWHFEpw  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN ...   NaN  NaN
 --ASOotWk1E  NaN  1.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN ...   NaN  NaN
 --BOTvEjuOg  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  1.0 ...   NaN  NaN


user         1267 1268 1269 1270 1271 1272 1273 1274
song
 --1W3Kq_pfk  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 --4Xde9r4Mw  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 --5UoWHFEpw  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 --ASOotWk1E  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 --BOTvEjuOg  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[5 rows x 1275 columns]

In [68]:
# turn selection into a df (multi-index)

pivoted = pd.DataFrame(freq)

print (pivoted.shape)

pivoted.head(5)

(80388, 1275)

             user                                              ...             \
user         0    1    2    3    4    5    6    7    8    9    ...  1265 1266
song                                                           ...
 --1W3Kq_pfk  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN ...   NaN  NaN
 --4Xde9r4Mw  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN ...   NaN  NaN
 --5UoWHFEpw  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN ...   NaN  NaN
 --ASOotWk1E  NaN  1.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN ...   NaN  NaN
 --BOTvEjuOg  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  1.0 ...   NaN  NaN


user         1267 1268 1269 1270 1271 1272 1273 1274
song
 --1W3Kq_pfk  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 --4Xde9r4Mw  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 --5UoWHFEpw  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 --ASOotWk1E  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 --BOTvEjuOg  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[5 rows x 1275 columns]

In [73]:
# how sparse is the df? Print the total number of NaN and give as a %

count_nans = pivoted.isnull().sum().sum()
total_nb_cells = 80388 * 1275 
# total_nb_cells = 1688 * 96 # this line is for when we're using the sample set
perc = (count_nans/total_nb_cells)*100

print (count_nans, "cells are empty - soit", perc.round(decimals=2), "%", "of the df")

102324954 cells are empty - soit 99.83 % of the df

In [74]:
####### ------------ RELOAD FROM HERE IF NECESSARY

# remove a dimension to get a df with regular columns

pivoted.columns = pivoted.columns.get_level_values(1)
pivoted_done = pd.DataFrame(pivoted)

In [75]:
type(pivoted_done)

pandas.core.frame.DataFrame

In [76]:
pivoted_done.columns

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            1265, 1266, 1267, 1268, 1269, 1270, 1271, 1272, 1273, 1274],
           dtype='int64', name='user', length=1275)

In [77]:
# replace the NaN with 0

pivoted_done.fillna(value = 0, inplace = True)

In [101]:
# change column names from ints to "U6" etc.

string = "U"
pivoted_done.columns = [string+str(i) for i in range(1275)]

Index(['U0', 'U1', 'U2', 'U3', 'U4', 'U5', 'U6', 'U7', 'U8', 'U9',
       ...
       'U1265', 'U1266', 'U1267', 'U1268', 'U1269', 'U1270', 'U1271', 'U1272',
       'U1273', 'U1274'],
      dtype='object', length=1275)

In [102]:
# cast all entries to integers, not floats

pivoted_int = pivoted_done.astype(int, inplace = True)
pivoted_int.dtypes.head(5)

# add (int, errors = 'ignore') if that's what you need

U0    int64
U1    int64
U2    int64
U3    int64
U4    int64
dtype: object

In [103]:
# THIS returns ONLY the integer - slice the row, then slice the column

pivoted_int.iloc[0]["U1"]

0

In [104]:
pivoted_int.shape

(80388, 1275)

## FINAL ALGORITHM (soir, mardi 19 mars)

In [376]:

def filled_test(user_A, user_B):

    print ("The pair under consideration are", user_A, "and", user_B, "\n")

    # establish whether there are matches between the 2 users
    match_count_df = pivoted_int[[user_A, user_B]]
    a_b_match_count = len (match_count_df[(match_count_df[user_A] != 0) & (match_count_df[user_B] != 0)])

    if a_b_match_count == 0:
        print ("These two users have never listened to the same song, so they have nothing to suggest to the other", "\n")
    
    else:
    
        # cell is a variable so that we can increase the row by one each time
        row = 0
    
        # declare two empty lists, to store offers from one user to another
        b_TO_A_offer = []
        a_TO_B_offer = []

        # for x in range (1688): FOR USE WITH SMALL SAMPLE SET 
        for x in range (80388):
                  
            # find a song present in right, but not left, to be offered
            if pivoted_int.iloc[row][user_B] > 0 and pivoted_int.iloc[row][user_A] == 0:
                b_TO_A_offer += [row]
            
            # find a song present in left col, but not right, to be offered
            if pivoted_int.iloc[row][user_A] > 0 and pivoted_int.iloc[row][user_B] == 0:
                a_TO_B_offer += [row]
        
            row = row + 1
    
        print (a_b_match_count, "match(es) in total: Strength of match is TO BE DEFINED HERE PLEASE IN PART THROUGH % MATCH, IN PART THROUGH THE NB OF LISTENS TO EACH SONG \n")

        print (len (b_TO_A_offer), "offers for A col:", b_TO_A_offer, "\n")
        print (len (a_TO_B_offer), "offers for B col:", a_TO_B_offer, "\n")
 
        # pick from the list -- at random -- and make an offer for user A
        songA = random.choice(b_TO_A_offer)
        song_address = pivoted_int.index[songA]
        yt = "https://www.youtube.com/watch?v="
        completeA = yt.strip() + song_address.strip()
        print(user_A, "might like", completeA)
                      
        # pull video details from youtube for suggestion to user A - NOTE: 4 TIMES AS SLOW WITH THE TWO SCRAPES
        url = completeA
        page = requests.get(url)
        soup = bs (page.text, 'html.parser')
        for item in soup.find_all('h1',{'class':'watch-title-container'}): 
            for post in item.find_all('span',{'class':'watch-title'}): 
                details = post.string.strip()
                print (details, "\n")
    
        #  ... and for user B
        songB = random.choice(a_TO_B_offer)
        song_address = pivoted_int.index[songB]
        yt = "https://www.youtube.com/watch?v="
        completeB = yt.strip() + song_address.strip()
        print(user_B, "might like", completeB)
               
        # pull video details from youtube for suggestion to user B
        url = completeB
        page = requests.get(url)
        soup = bs (page.text, 'html.parser')
        for item in soup.find_all('h1',{'class':'watch-title-container'}): 
            for post in item.find_all('span',{'class':'watch-title'}): 
                details = post.string.strip()
                print (details, "\n")
    
    print ("HERE WE NEED TO FIND A WAY OF STORING UP THE DIFFERENT 'OFFERED TO U41' SERIES SO THAT WE CAN LOOK AT ALL THE SONGS BEING OFFERED TO B BY THE OTHER 95 USERS, AND CHOOSE THE MOST OFFERED", "\n")

    # this has been added to calculate the average nb of plays for each song a user listens to
    no_zeros_A = pivoted_int[(pivoted_int[user_A] != 0)] # all the full cells for the user column
    no_zeros_B = pivoted_int[(pivoted_int[user_B] != 0)]

    av_list_A = no_zeros_A[user_A].sum()/no_zeros_A[user_A].count() # a count (nb of songs) and a sum (nb of listens)
    av_list_B = no_zeros_B[user_B].sum()/no_zeros_B[user_B].count()

    print (user_A, "listened to each of his / her songs an average of", av_list_A.round(decimals=2), "times")
    print (user_B, "listened to each of his / her songs an average of", av_list_B.round(decimals=2), "times", "\n")

## run algo here:

In [377]:
start_time = time.time()

# insert HERE the two users to be compared
filled_test("U2", "U3")

print("RAN IN --- %s seconds ---" % (time.time() - start_time))

The pair under consideration are U2 and U3

46 match(es) in total: Strength of match is TO BE DEFINED HERE PLEASE IN PART THROUGH % MATCH, IN PART THROUGH THE NB OF LISTENS TO EACH SONG

717 offers for A col: [8, 136, 249, 256, 287, 412, 419, 471, 473, 625, 636, 662, 728, 771, 931, 1088, 1172, 1257, 1292, 1312, 1360, 1375, 1450, 1712, 1786, 1969, 2061, 2077, 2100, 2357, 2393, 2483, 2513, 2539, 2578, 2939, 2944, 3149, 3213, 3271, 3399, 3534, 3747, 3872, 3875, 3901, 3999, 4001, 4177, 4293, 4322, 4356, 4367, 4443, 4778, 4786, 4883, 5039, 5074, 5176, 5196, 5282, 5340, 5465, 5474, 5610, 5724, 5752, 5758, 5840, 5920, 6044, 6119, 6245, 6477, 6575, 6623, 6838, 6916, 6989, 7341, 7387, 7425, 7478, 7627, 7674, 7810, 8016, 8472, 8545, 8640, 9033, 9573, 9577, 9627, 9694, 9765, 9791, 9809, 9890, 10010, 10151, 10292, 10327, 10363, 10397, 10401, 10616, 10826, 10886, 10974, 11093, 11337, 11381, 11505, 11670, 11754, 11792, 11918, 11983, 11984, 12051, 12076, 12156, 12172, 12276, 12667, 12715, 12882, 13048, 13059, 13076, 13158, 13210, 13344, 13517, 13742, 14040, 14105, 14167, 14299, 14574, 14602, 14820, 15489, 15617, 15625, 15631, 16101, 16207, 16471, 16686, 17093, 17273, 17286, 17401, 17585, 17645, 17789, 18072, 18326, 18727, 18797, 18829, 18975, 19127, 19946, 20079, 20102, 20528, 20821, 20959, 21088, 21157, 21205, 21289, 21493, 21529, 21845, 21934, 21961, 22305, 22427, 22446, 22554, 22612, 22718, 22832, 22973, 23023, 23054, 23056, 23083, 23185, 23239, 23241, 23250, 23279, 23371, 23374, 23466, 23524, 23548, 23704, 23709, 23780, 23840, 23888, 23933, 24045, 24055, 24077, 24135, 24277, 24312, 24459, 24585, 24815, 24888, 25297, 25311, 25312, 25315, 25342, 25423, 25662, 25758, 25935, 26110, 26209, 26217, 26221, 26274, 26533, 26645, 26653, 26659, 26751, 26754, 26976, 27018, 27038, 27218, 27252, 27403, 27510, 27545, 27569, 27570, 27689, 27716, 27825, 27827, 27923, 28145, 28198, 28274, 28323, 28407, 28521, 28533, 28588, 28634, 28667, 28796, 29047, 29301, 29337, 29368, 29370, 29544, 29562, 29861, 29908, 29915, 30068, 30072, 30169, 30341, 30396, 30635, 30703, 30742, 30834, 30888, 31176, 31255, 31290, 31373, 31394, 31495, 31569, 31686, 31859, 31866, 32006, 32302, 32417, 32445, 32502, 32543, 32580, 32623, 32651, 32670, 32700, 33141, 33193, 33344, 33390, 33407, 33640, 33645, 33655, 33784, 34052, 34079, 34170, 34188, 34499, 34523, 34530, 34543, 34630, 34700, 34952, 34962, 35080, 35092, 35218, 35646, 35680, 35703, 35733, 35888, 36001, 36014, 36015, 36209, 36212, 36267, 36316, 36339, 36562, 36911, 37496, 37505, 37522, 37693, 37719, 37799, 37834, 38040, 38512, 38541, 38600, 38627, 38912, 38996, 39001, 39072, 39245, 39415, 39567, 39609, 39771, 39803, 39923, 40141, 40143, 40294, 40408, 40409, 40425, 40596, 40664, 40752, 40784, 40808, 40921, 40960, 40962, 41142, 41191, 41252, 41448, 41525, 41603, 41605, 41665, 41732, 41767, 41801, 41889, 42012, 42020, 42149, 42197, 42322, 42515, 42636, 42750, 42819, 43047, 43061, 43215, 43232, 43425, 43541, 43652, 43698, 43975, 44395, 44417, 44554, 44796, 44866, 45194, 45234, 45272, 45312, 45451, 45589, 45593, 45596, 45778, 45914, 45972, 46075, 46185, 46347, 46417, 46426, 46583, 46702, 46721, 46789, 46875, 47155, 47177, 47627, 47766, 47841, 48052, 48118, 48301, 48321, 48326, 48564, 48762, 48764, 48779, 48821, 48902, 49067, 49168, 49363, 49432, 49639, 49740, 49749, 49822, 49873, 50026, 50075, 50148, 50162, 50203, 50459, 50704, 50930, 50977, 51323, 51365, 51379, 51442, 51669, 51673, 51894, 51937, 51944, 51971, 52037, 52054, 52402, 52409, 52413, 52481, 52780, 52983, 53216, 53680, 53723, 53998, 54104, 54287, 54351, 54550, 54841, 54853, 55115, 55297, 55677, 55771, 55808, 55934, 55936, 56021, 56207, 56359, 56431, 56543, 56557, 56754, 57128, 57143, 57150, 57190, 57287, 57406, 57774, 58087, 58174, 58201, 58212, 58374, 58502, 58547, 58556, 58638, 58765, 58766, 58786, 58820, 58837, 59102, 59223, 59248, 59284, 59452, 59510, 59521, 59614, 59672, 59773, 59874, 60201, 60283, 60316, 60429, 60488, 60500, 60556, 60699, 60739, 60924, 61011, 61156, 61166, 61301, 61407, 61482, 61506, 61592, 61607, 61626, 61651, 61663, 61666, 61931, 62250, 62265, 62356, 62359, 62428, 62432, 62766, 62804, 62975, 63572, 63819, 63824, 63846, 64062, 64139, 64195, 64882, 64931, 65603, 65700, 65824, 65865, 66382, 66877, 66884, 66962, 67052, 67410, 67423, 67529, 67536, 67614, 67655, 67788, 67967, 67994, 68423, 68613, 68641, 68771, 69509, 69652, 69868, 70146, 70176, 70326, 70338, 70429, 70476, 70548, 70565, 70666, 70795, 70816, 71050, 71098, 71122, 71298, 71416, 71501, 71828, 72034, 72036, 72085, 72107, 72426, 72495, 72649, 72686, 72816, 72927, 72964, 72983, 72989, 73104, 73124, 73201, 73492, 73530, 73538, 73612, 73701, 73777, 73820, 73978, 74050, 74189, 74551, 74661, 74700, 74937, 74993, 75121, 75142, 75151, 75228, 75370, 75461, 75510, 75542, 75595, 75739, 75793, 76022, 76043, 76064, 76432, 76437, 76488, 76568, 76603, 76743, 76904, 76998, 77164, 77189, 77529, 77677, 77696, 77697, 77825, 77971, 78050, 78174, 78206, 78207, 78600, 78661, 78692, 78704, 78736, 78853, 78924, 78974, 79250, 79291, 79438, 79743, 79847, 79880, 79918, 80025, 80093, 80192, 80229, 80295, 80325]

266 offers for B col: [275, 656, 754, 772, 956, 1096, 1109, 1582, 2245, 2252, 2305, 2808, 3521, 3780, 3918, 3935, 4067, 4546, 4564, 4606, 4635, 4931, 5420, 5776, 6023, 6080, 6099, 7941, 8283, 8826, 9111, 9252, 9289, 9455, 9678, 10214, 10505, 11028, 11353, 12084, 12186, 12561, 13401, 13630, 13675, 13789, 13884, 14093, 14338, 14407, 14618, 14824, 15158, 15463, 15868, 16315, 16607, 16679, 17343, 17385, 17689, 18110, 18163, 19805, 20193, 20325, 20742, 20760, 20864, 22366, 22417, 22452, 22467, 22549, 22815, 23588, 23640, 23727, 24236, 25182, 25824, 26075, 26455, 26701, 26729, 26761, 26929, 26940, 27064, 27382, 27616, 27763, 28029, 28125, 28390, 28409, 29328, 29521, 29567, 29670, 30251, 30381, 30457, 30494, 30552, 30975, 31658, 31838, 32865, 32874, 33103, 33423, 33796, 33875, 33996, 34057, 34249, 34598, 34606, 34675, 35191, 36381, 36565, 36571, 36687, 36974, 37457, 38447, 38488, 38523, 39692, 40127, 40406, 40961, 41159, 41236, 41753, 41841, 42155, 42168, 42285, 42720, 43020, 43068, 43320, 43791, 44006, 44036, 44126, 44385, 44412, 44416, 44684, 44833, 44951, 45225, 45237, 45799, 45804, 46462, 46641, 46719, 47180, 47451, 47563, 47855, 48783, 48908, 49228, 49862, 49959, 50103, 50298, 50338, 50420, 50460, 50468, 50730, 50825, 51111, 51163, 51376, 51543, 52208, 52383, 52576, 52611, 52688, 52777, 53157, 53182, 54180, 54613, 54733, 54846, 55659, 55736, 56147, 56703, 57102, 57456, 57636, 57698, 57770, 57898, 58757, 58825, 58948, 59116, 59340, 59503, 59739, 59898, 61160, 61577, 61596, 61982, 62346, 62520, 62544, 62863, 63127, 64335, 64929, 65074, 65133, 65885, 65993, 66918, 67330, 67335, 67773, 68175, 68332, 70095, 70417, 70515, 70516, 70627, 71361, 71395, 71813, 71924, 72936, 72953, 73009, 73685, 73765, 73843, 74510, 75232, 75340, 75650, 76606, 76803, 76895, 77248, 77253, 77419, 77767, 78092, 78208, 78772, 78958, 80000, 80342]

U2 might like https://www.youtube.com/watch?v=B9FzVhw8_bY
The Dead South - In Hell I'll Be In Good Company [Official Music Video]

U3 might like https://www.youtube.com/watch?v=cOgcRAymAiM
Heights - These Streets (Official Video)

HERE WE NEED TO FIND A WAY OF STORING UP THE DIFFERENT 'OFFERED TO U41' SERIES SO THAT WE CAN LOOK AT ALL THE SONGS BEING OFFERED TO B BY THE OTHER 95 USERS, AND CHOOSE THE MOST OFFERED

U2 listened to each of his / her songs an average of 4.33 times
U3 listened to each of his / her songs an average of 1.6 times

RAN IN --- 28.155666828155518 seconds ---

## integrating the NUMBER of listens to a given song by a user to: 1 get a better picture of the strength of a match & 2 help get stronger recs

In [374]:
# How do the users compare in the number of different songs they've listened to?

# no, I think this is total listens

pivoted_int.astype(bool).sum(axis=0).head(5)

U0     234
U1    3134
U2     312
U3     763
U4     458
dtype: int64

In [315]:
# find number of non-zero cells in a user's column, i.e. the number of songs they've listened to

print (pivoted_int.U26.astype(bool).sum(axis=0), "songs played by this user")

15 songs played by this user

In [309]:
# show all songs played, with number of listens for each

user_A = "U26"

non_zeros = (pivoted_int[(pivoted_int[user_A] != 0) ])

non_zeros[user_A]

song
 1UIwqUkSnIc    2
 ABagIZHEWyo    2
 EFJ7kDva7JE    2
 LiUjOFYDiBE    1
 MC44L5T0FVA    2
 OM_WUDxhYps    4
 QxHkLdQy5f0    2
 RT__tPTEVVA    1
 RjLXOw414DA    3
 WKnVaDwUg5s    1
 ea2WoUtbzuw    1
 l8wWa3O9cUo    1
 n2rVnRwW0h8    1
 r-lDqAlXZHo    1
 z_mdSEuZ7k8    1
Name: U26, dtype: int64